<div class="car-group list-group-item base-border-radius" ng-click="updateAction(carObj,$event)">
	<div class="inline-div" ng-click="radioClickAction($event)">
		<input id="car-radio-{{carObj.id}}" type="radio" name="selectedCar" ng-value="carObj" ng-model="currentCar.carObj" ng-change="changeCarAction()">
		<label for="car-radio-{{carObj.id}}"><span><span></span></span></label>
	</div>
	<div class="inline-content">
		<div>
			<span>车牌号：</span>
			<span ng-bind="carObj.carNo"></span>
		</div>
		<div class="sub-title">
			<span>品牌：</span>
			<span ng-bind="carObj.car.name"></span>
		</div>
	</div>
	<i class="fa fa-chevron-right pull-right"></i>
</div>