<div class="car-group list-group-item base-border-radius" ng-click="updateAction(carObj,$event)">
	<input type="radio" name="selectedCar" ng-value="carObj" ng-model="currentCar.carObj" ng-change="changeCarAction()" ng-click="radioClickAction($event)">
	<div class="inline-content">
		<div>
			<span>车牌号：</span>
			<span ng-bind="carObj.carNo"></span>
		</div>
		<div class="sub-title">
			<span>品牌：</span>
			<span ng-bind="carObj.car.name"></span>
		</div>
	</div>
	<i class="fa fa-chevron-right pull-right"></i>
</div>