<div class="form-group row mobile-oneline-form" ng-class="{ 'error' : inputError, 'active': inputActive}">
	<div class="form-control-wrapper col-xs-12">
		<span ng-show=" '{{prefix}}' " class="help-text ml15">{{prefix}}</span>
		<input type="{{type}}" required ng-model="inputModel" class="form-control base-border-radius" placeholder="{{placeholder}}" id="{{inputId}}
	    _input"> <i class="fa fa-times pull-right mr15" ng-click="cancelInput()"></i>
	</div>
	<div class="ui-field-message">{{fieldMessage}}</div>
</div>