<div class="car-group list-group-item base-border-radius" ng-click="updateAction(locationObj,$event)">
	<div class="inline-div" ng-click="radioClickAction($event)">
		<input id="location-radio-{{locationObj.id}}" type="radio" name="selectedLocation" ng-value="locationObj" ng-model="currentLocation.locationObj" ng-change="changeLocationAction()" >
		<label for="location-radio-{{locationObj.id}}"><span><span></span></span></label>
	</div>
	<div class="inline-content">
		<div>
			<span>区域：</span>
			<span ng-bind="locationObj.address.name"></span>
		</div>
		<div class="sub-title">
			<span>地址：</span>
			<span ng-bind="locationObj.comment"></span>
		</div>
	</div>
	<i class="fa fa-chevron-right pull-right"></i>
</div>

