.list-group-item.car-group {
  padding-top: 20px;
  padding-bottom: 20px;
}
.list-group-item.car-group .inline-content {
  height: 75px;
  top: 0;
  margin-left: 30px;
  line-height: 26px;
  padding: 10px;
}
.list-group-item.car-group .pull-right {
  line-height: 2em;
}
.list-group-item.car-text-group {
  padding-top: 25px;
  padding-bottom: 25px;
}
.list-group-item.car-text-group .inline-content {
  height: 50px;
  top: 0;
  /* margin-left: 30px; */
  /* line-height: 26px; */
  /* padding: 10px; */
  line-height: 20px;
  padding-top: 6px;
}
