<div ng-controller="secondOrderController">
	<div class="mb15 mt10">
		<h4>联系电话</h4>
		<edit-input class="xy_field_input" field-message="userFieldMessage" input-error="userInputError" input-model="orderObj.user.phone" placeholder="请输入手机号" input-id="mobilephone
		_input" cancel-input="cancelInput()"></edit-input>
	</div>
	<div>
		<h4>车辆信息
			<i class="fa fa-plus-circle pull-right icon-info mr10 ur-small-element" ng-click="addCarAction()"></i>
		</h4>
		<div data-ng-include="'/static/app/car/carListForm.tpl.html'"></div>
	</div>
	<div>
		<h4>位置信息</h4>
		<div data-ng-include="'/static/app/location/locationListForm.tpl.html'"></div>
	</div>

	<div class="list-group-item base-border-radius" ng-click="gotoWashTimePage()" ng-show="orderObj.type == 2">
		<span class="mr10">洗车时间</span>
		<span>{{orderObj.washStartTime | amFormat:'MMMD日'}}</span>
		<span>{{orderObj.washStartTime | amRangeFormat:'HH:mm':dur}}</span>
		<i class="fa fa-chevron-right pull-right"></i>
	</div>

	<div class="list-group-item base-border-radius" ng-show="orderObj.type == 3">
		<span ng-repeat="durationObj in durationList">
			<!-- <input type="radio" name="duration" ng-model="orderObj.durationId"  value="{{durationObj.value}}">
			{{durationObj.label}} -->
			<div class="inline-div xy-dur-radio">
				<input id="dur-radio-{{durationObj.id}}" type="radio" name="duration" value="{{durationObj.value}}" ng-model="orderObj.duration">
				<label class="ur-small-element" for="dur-radio-{{durationObj.id}}"><span><span></span></span></label>
				<span class="xy-dur-label">{{durationObj.label}}</span>
			</div>

		</span>
	</div>

	<div class="list-group-item mt20 clearfix base-border-radius">
		<span class="pull-left">总价</span>
		<span class="price xy_tar pull-right">{{dynamicPrice | zhcnformat}}</span>
	</div>

	<!-- <div class="form-group row ph10  xy_bt">
		<label class="col-xs-4 control-label">总价：</label>
		<div class="form-control-wrapper col-xs-8 form-control-text">
			<span class="price form-control xy_tar">{{dynamicPrice | zhcnformat}}</span>
		</div>
	</div> -->

	<div class="submit row">
		<div class="pl0 col-xs-6" ng-show="showState">
			<a class="btn btn-danger btn-lg full-width" ng-click="removeAction()">取消订单</a>
		</div>
		<div class="pr0 col-xs-6" ng-show="showState">
			<a class="btn btn-info btn-lg full-width" ng-click="submitOrder()">提交订单</a>
		</div>
		<a class="btn btn-info btn-lg col-xs-12" ng-show="!showState" ng-click="submitOrder()">提交订单</a>
	</div>
</div>