<div class="scrollable">
	<div class="scrollable-content">
		<div class="text_a_c mt50">
            <div class="pay-title">
            	<h4>微信安全支付</h4>
            </div>
            <p class="mh20 mt20">如果支付遇到问题，请联系客服</p>
		</div>
        <div class="mt50 mh20">
            <div class="btn-group btn-group-justified">
                <a class="btn btn-default cancel" ng-click="backAction()">取消</a>
                <a class="btn save" ng-click="payAction()">微信支付</a>
            </div>
        </div>

	</div>
</div>