<div ng-controller="orderFinishController">
	<div ng-show="showWasher">
		<p>洗车员：{{washer.name}}</p>
		<p>手机：{{washer.phone}}</p>
	</div>
	<h4>洗车时间</h4>
	<label>{{washTime}}</label>
	<h4>照片展示</h4>
	<div class="row">
		<div class="col-xs-3" ng-repeat="imgObj in imgList | limitTo:4">
			<img ng-src="{{imgObj.pictureUrl}}">
		</div>
	</div>
	<h4>我的评论</h4>
	<div ng-show="showEdit">
		<span>请您为服务评分：</span>
		<rating ng-model="rate" max="max" readonly="!showEdit"></rating>
	</div>
	<div ng-show="showEdit">
		<textarea placeholder="评论" rows="3" ng-model="comment"></textarea>
	</div>

	<div ng-show="!showEdit">
		<rating ng-model="rate" max="max" readonly="!showEdit"></rating>
	</div>
	<div ng-show="!showEdit">
		<p placeholder="评论" rows="3">{{comment}}</p>
	</div>

	<div class="row">
		<a class="btn btn-info" ng-class="showEdit?'col-xs-6':'col-xs-12'" ng-click="shareAction()">分享优惠卷</a>
		<a class="btn btn-info col-xs-6" ng-show="showEdit" ng-click="submitComment()">提交评论</a>		
	</div>
</div>