<div ng-controller="orderFinishController" class="base-lr-margin">
	<div class="mt20">
		<h4>洗车时间</h4>
		<div class="list-group-item base-border-radius">
			<span>{{endOrderTime | amFormat:'MMMD日 HH:mm'}}</span>
		</div>
	</div>
	<div class="mt20">
		<h4>照片展示</h4>
		<div class="list-group-item base-border-radius" ng-show="imgList.length == 0">
			<span>暂无展示照片</span>
		</div>
		<div class="row mt20">
			<div class="col-xs-3" ng-repeat="imgObj in imgList | limitTo:4">
				<a ng-href="{{imgObj.pictureUrl}}">
					<img class="base-border-radius" ng-src="{{imgObj.pictureUrl}}">
				</a>
			</div>
		</div>
	</div>
	<!-- <h4>照片展示</h4>
	<div class="row">
			<div class="col-xs-3" ng-repeat="imgObj in imgList | limitTo:4">
					<img ng-src="{{imgObj.pictureUrl}}">
			</div>
	</div> -->
	<div class="mt20">
		<h4>我的评论</h4>
		<div class="list-group-item base-border-radius" ng-show="showEdit">
			<span>请您为服务评分：</span>
			<rating class="xy_rating" ng-model="rate" max="max" readonly="!showEdit"></rating>
		</div>
		<div ng-show="showEdit" class="list-group-item base-border-radius">
			<textarea class="xy_text_area" placeholder="请对我们的服务做出评价" rows="5" ng-model="comment"></textarea>
		</div>
		<div class="mt10" ng-show="!showEdit">
			<rating class="xy_rating" ng-model="rate" max="max" readonly="!showEdit"></rating>
		</div>
		<div class="list-group-item base-border-radius mt10" ng-show="!showEdit">
			<p>{{comment}}</p>
		</div>
	</div>
	<div class="submit mb10 row">
		<a class="btn btn-warning btn-lg col-xs-12" ng-show="showEdit" ng-click="submitComment()">提交评论</a>
	</div>
	<div class="row mt10 mb10">
		<a class="btn btn-info btn-lg col-xs-12" ng-click="reApplyOrder()">再次下单</a>
	</div>
	<!-- <div class="submit row">
			<div class="pl0 col-xs-6" ng-show="showEdit">
					<a class="btn btn-danger btn-lg full-width" ng-click="submitComment()">提交评论</a>
			</div>
			<div class="pr0 col-xs-6" ng-show="showEdit">
					<a class="btn btn-info btn-lg full-width" ng-click="shareAction()">分享得优惠卷</a>
			</div>
			<a class="btn btn-info btn-lg col-xs-12" ng-show="!showEdit" ng-click="shareAction()">分享得优惠卷</a>
	</div> -->
	<!-- <div ng-show="showEdit">
			<span>请您为服务评分：</span>
			<rating ng-model="rate" max="max" readonly="!showEdit"></rating>
	</div> -->
	<!-- <div ng-show="showEdit">
			<textarea placeholder="评论" rows="3" ng-model="comment"></textarea>
	</div> -->
	<!-- <div ng-show="!showEdit">
			<rating ng-model="rate" max="max" readonly="!showEdit"></rating>
	</div> -->
	<!-- <div ng-show="!showEdit">
			<p placeholder="评论" rows="3">{{comment}}</p>
	</div> -->
	<!-- <div class="row">
			<a class="btn btn-info" ng-class="showEdit?'col-xs-6':'col-xs-12'" ng-click="shareAction()">分享优惠卷</a>
					<a class="btn btn-info col-xs-6" ng-show="showEdit" ng-click="submitComment()">提交评论</a>
	</div> -->
</div>