<div ng-controller="updateUserController" class="base-lr-margin">
	<!-- <edit-input input-model="phone" field-message="fieldMessage" input-error="inputError" placeholder="请输入手机号" input-id="update_phone_input" cancel-input="cancelInput()"></edit-input>
	<div class="submit">
		<div class="btn-group btn-group-justified">
			<a class="btn btn-default cancel" ng-click="backAction()">取消</a>
			<a class="btn save" ng-click="saveAction()">保存</a>
		</div>
	</div> -->

	<div class="mb15 mt10">
		<h4>联系电话</h4>
		<edit-input class="xy_field_input" field-message="fieldMessage" input-error="inputError" input-model="phone" placeholder="请输入手机号" input-id="update_phone_input" cancel-input="cancelInput()"></edit-input>
	</div>
	<div class="submit row">
		<a class="btn btn-info btn-lg col-xs-12" ng-click="saveAction()">确定</a>
	</div>
</div>