<div ng-controller="carUpdateController" class="base-lr-margin mt20">
	<!-- <div class="list-group item20">
		<a href="#" class="list-group-item" ng-click="toggleShow('carNoUpdate')">
			
			<span class="help-text mr10">车牌</span>
			<span ng-bind="updateCarObj.carNo"></span> 
			<i class="fa fa-chevron-right pull-right"></i>
		</a>
		<a href="#" class="list-group-item" ng-click="toggleShow('carColorUpdate')">
			
			<span class="help-text mr10">颜色</span>
			<span ng-bind="updateCarObj.color"></span>
			<i class="fa fa-chevron-right pull-right"></i>
		</a>
		<a href="#" class="list-group-item" ng-click="toggleShow('carType')">
			<span class="help-text mr10">车型</span>

			<span ng-bind="updateCarObj.car.name"></span>
			<i class="fa fa-chevron-right pull-right"></i>
		</a>
	</div> -->
	<!-- <div>
		<edit-input class="xy_field_input" prefix="车牌号" field-message="fieldMessage" input-error="inputError" input-model="updateCarObj.carNo" placeholder="请输入完整车牌号" input-id="car_no_update_input" cancel-input="cancelInput()"></edit-input>
		<div class="list-group-item" ng-click="chooseCarType()">
			<span class="help-text mr10">车型</span>
			<span ng-bind="updateCarObj.car.name"></span>
			<i class="fa fa-chevron-right pull-right"></i>
		</div>
	</div> -->


	<div class="list-group edit-group">
		<div class="list-group-item" ng-click="chooseCarType()">
			<span class="help-text mr10">品&nbsp;&nbsp;牌：</span>
			<span ng-bind="updateCarObj.car.name"></span>
			<i class="fa fa-chevron-right pull-right"></i>
		</div>
		<edit-input class="xy_field_input"  prefix="车牌号：" field-message="fieldMessage" input-error="inputError" input-model="updateCarObj.carNo" placeholder="必填" input-id="car_no_update
		_input" cancel-input="cancelInput()"></edit-input>
	</div>

	<!-- <div class="submit">
		<div class="btn-group btn-group-justified">
			<a class="btn btn-default cancel" ng-click="resultAction('delete')">删除</a>
			<a class="btn save" ng-click="resultAction('save')">保存</a>
		</div>
	</div> -->
	<div class="submit row">
		<div class="pl0 col-xs-6">
			<a class="btn btn-danger btn-lg full-width" ng-click="resultAction('delete')">删除</a>
		</div>
		<div class="pr0 col-xs-6">
			<a class="btn btn-info btn-lg full-width" ng-click="resultAction('save')">保存</a>
		</div>
	</div>

	<div overlay="deleteCarOverlay">
		<h4 class="overlay-title">确认删除汽车？</h4>
		<p bubble>
			<span class="btn btn-supply" ng-click="confirmDelete()">确定</span>
			<span class="btn btn-default" ng-click="cancelDelete()">取消</span>
		</p>
	</div>

	<div toggleable id="carWarning" inactive-class="Hide" class="xy_error_tips Hide">请选择车辆</div>

</div>