<div class="scrollable">
	<div class="scrollable-content">
        <div class="base-lr-margin">
    		<div class="text_a_c mt50">
    			<!-- <div class="pay-icon">
                    <i class="suc"></i>
                </div> -->
                <div class="pay-title">
                	<h4><i class="fa fa-check-circle mr10"></i>恭喜您支付成功!</h4>
                </div>
    		</div>
            <div class="submit row">
                <a class="btn btn-info btn-lg col-xs-12" ng-click="linkMyOrderAction()">查看订单详情</a>
            </div>
            <!-- <div class="submit">
                <button class="btn confirm" ng-click="linkMyOrderAction()">查看订单详情</button>
            </div> -->
        </div>
	</div>
</div>